@import "../../scss/variable";
@import "../../scss/mixin";
@import "../../scss/index";
.temp {
    color: white;
    background-color: $second-color;
    .about {
        max-width: 1000px;
        min-height: 600px;
        margin: 0 auto;
        @include flex(center, space-between);
        flex-wrap: wrap;
        &__img {
            margin: 20px auto;
            height: 300px;
            width: 460px;
            background-image: url("https://i.imgur.com/v7dWFhB.jpg");
            background-repeat: no-repeat;
        }
        &__content {
            margin: 20px auto;
            max-width: 400px;
            .description {
                list-style-type: none;
                font-size: 16px;
                margin: 0 50px 20px 0;
            }
            .list {
                @include flex(center, flex-start);
                flex-wrap: wrap;
            }
        }
    }
}